 .bg-image {
    width: 40%;
    height: 40vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    }
 .bg-image.active {
        opacity: 1;
    }